<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>

<body>
    <h1>Articles</h1>
    <table>
        {% for article in articles %}
        <tr>
            <td>{{ article.title }}</td>
            <td>{{ article.body }}</td>
            <td>{{ article.topic }}</td>
            <td>
                <a href="/edit/{{ article.id }}"><button>Edit</button></a>
            </td>
            <td>
                <a href="/delete/{{ article.id }}"><button>Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/add"> Add an article</a>
</body>

</html>