<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add article</title>
</head>

<body>
    <h1>Add a new topic</h1>

    <form method="POST" action="{% url 'add_topic' %}">
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">name:</label>
                <input type="text" id="id_name" name="topic_name" />
            </p>
        </div>

        <div>
            <p>
                <button type="submit">Add topic</button>
            </p>
        </div>
    </form>
</body>

</html>